*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    
}
.container{
    width: 90%;
    margin:auto ;
    display:  flex;
    justify-content: space-between;
}

header{
    background-color: rgb(255, 255, 255);
    height: 120px;
    border-bottom: 1px rgb(255, 255, 255) solid;
    box-shadow: 0px 0.5px 0.1px;
}
/* start search */
.container .search{
    position: relative;
}
.search input{
    width: 200px;
    height: 30px;
    border-radius: 30px;
    border: none;
    outline: none;
    margin: 40px;
    padding: 10px 0 0 px;
     
    
    
    
    
}
.container .search .fa-magnifying-glass{
    font-size: 11px;
    position: absolute;
    right: 245px;
    top: 50px;
    

}
.search input:focus{
    background-color: rgb(255, 255, 255);
} 
/* end search  */
/* start name */
.container .name{
    border: 2px black solid;
    padding: 5px;
    margin: 35px;
    position: relative;
    right: 40px;
}
.container .name .h{
    color: black;
    font-size: 30px;
     
}
.container .name a{
    text-decoration:  none;
}
/* end name */
/* start icon */
.container .icon{
    margin: 30px;
     
} 
.container .icon i{
    padding:10px;
    color: rgb(141, 141, 141);
}
.container .icon i:hover{
    color: black;

}
/* end icon */

.container1{
    width: 87%;
    margin:auto ;
    display: flex;
}
.container1 .ul1 {
    display: flex;
    list-style-type: none;
    margin:auto;
     
}

.container1 ul li{
    padding: 15px;
}
.container1 .ul1 li a:hover{
    color: blueviolet;
}
.container1 ul a{
    text-decoration: none;
    color: black;
}
.container1  .home a{
    color: blue;
}
.container1 .ul1 .home .ul2 .li2{
    position: absolute;
}
nav{
    background-color: rgb(241, 241, 241);
    height: 50px;
    margin-top: 50px;
    
}
.container11 {
    width: 87%;
    margin:auto ;
    display: flex;
    position: relative;
}
.container11 h3{
    position: absolute;
    top:10px;
    color: blueviolet;
    

}
.container11 .q{
    position: absolute;
    top:10px;
    left: 65px;
    color: black;
    

}
.art{
    border-bottom:1px rgb(0, 0, 0) solid ; 
}
.container6{
    width: 100%;
    height: 750px;
    margin:auto ;
    display:  flex;
    justify-content:space-between ;
    position: relative;
    bottom: 100px;

    
}
 
.container6 img{
    position: absolute;
    top:160px;
    left:110px;
}
.container6 div {
    /* margin:300px 0 0 0px;  */
     justify-content: space-between; 
    
     


    
}
.container6 div .less{
    text-align: center;
    color:blueviolet ;
    font-size: 30px;
    position: absolute;
    top: 180px;
    left: 800px;
}
.container6 div .Lorem{
    font-family :Arial, Helvetica, sans-serif;
    font-size: 20px;
    /* margin-top: 340px; */
    /* border: 1px rgb(255, 255, 255) solid;   */
    /* padding: 0px 0px;
    margin: 340 570px 0 ; */
    position: absolute;
    right: 0px;
    left: 700px;
    top: 200px; 
    /* margin:0 150px;  */
    text-indent: 25px;
    white-space: pre-wrap ;
    line-height:30px;
    color: rgba(0, 0, 0, 0.404);  
} 
.container6 div .H1{
    position: absolute;
    top: 580px;
    right: 700px;
}
.container6 div div{
    position: absolute;
    top: 620px;
    right: 600px;
}
.container6 div div{
    position: absolute;
    top: 620px;
    right: 500px;
    padding: 0 20px;
}
.container6 .button button{
    position: absolute;
    top: 650px;
    right:580px;
    width: 200px;
    height: 50px;
    border:none ;
    color: rgb(255, 255, 255);
    background-color: blueviolet;
    border-radius: 5px;
}
.container6 .button button :hover{
    transform:scale(1.1) ;
    box-shadow: 2px 2px 3px rgb(8, 8, 8);
}
.container6 div div{
    position: absolute;
    top: 620px;
    right: 500px;
}
.container5{
    /* width: 90%;
    margin:auto ;
    
    */
    background-color: rgb(241, 241, 241);
    display: flex;
    
    position: relative;
      
}
.container5 .start{
    position: absolute;
    left: 600px;
    top: 100px; 
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container5 .img1 .m{
    border: 1px rgb(255, 255, 255) solid;
    padding: 50px;
}
.container5 .img1{
    margin:250px 40px;
    position: relative;
    left: 150px; 
    background-color: rgb(255, 255, 255);
    height: 500px;  
}
.container5 .img1 h3{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}
.container5 .img1 p{
    text-align: center;
    margin-bottom: 20px;

}
.container5 .img1 .el{
     
    padding:6px ; 
}
.container5 .img1 a{
    text-decoration: none;
}
.container7{
    width: 88%;
    height: 700px;
    margin:auto ;
    display:  flex;
    justify-content:space-between ;
    position: relative;
    margin-top: 90px;
}
.container7 .end ul{
    list-style-type:none;
    color: rgba(0, 0, 0, 0.452);
}
.container7 .end .first{
    color: rgba(137, 43, 226, 0.678);

}
.container7 .end .second{
    color: rgba(0, 0, 0, 0.658);
}
.container7 .end div{
    margin-top: 20px;
}
 
.container7 .end div .fa-location-dot{
    color:blueviolet ;
    position: absolute;
    left:1080px ;
}
.container7 .end div .fa-phone{
    color: blueviolet;
    position: absolute;
    left:1080px ;
}
.container7 .end div .fa-envelope{
    color: blueviolet;
    position: absolute;
    left:1080px;
}
.container7 .end div input{
    height: 41px;
    width: 240px;
    padding: 10px;

}
.container7 .end div button{
    height: 35px;
    width: 80px;
    background-color: blueviolet;
    border: 1px blueviolet solid ;
    border-radius: 5px;
    color: aliceblue;
    position: absolute;
    right: 18px;
    top: 305px;

}
footer div {
    text-align: center;
    height:0px;
    position: relative;
    bottom: 100px;
     
}
footer div p{
    color:rgba(0, 0, 0, 0.637);
}
footer div h5{
    position: relative;
    bottom: 15px;
    left: 260px;
    color: blueviolet;

}


















